@media (max-width: 767px){

    body{
        width:500px;
    }
    
    h2{
        font-size: 18px;  
     
    }

    .menu{
        position: relative;
        left:-20px;
        top: 15px;
    
    }

    #active_page_line{
        position: relative;
        width: 400px;
        height: 1.6px;
        top:  30px;
        left: -70px;
        background-color: var(--primary-background);
        margin: unset;
    }

    #active_page_line_2{
        position: relative;
        width: 220px;
        height: 1.6px;
        top:  28px;
        left: -70px;
        background-color: var(--primary-blue);
        margin: unset;
        }

    #logo{
        display: none;
    }

    #logo-mobile{
        display: unset;
    }

    #search-bar{
        width: 300px;
        margin-left: -50px;
    }

    #btn-search{
        display: none;
    }

    #btn-search-mobile{
        display: inline;
    }

    #btn-search-mobile button{
        width:50px;
        height: 35px;
        color:white;
        background-color: var(--primary-blue);
        text-align: center;
        border-width: 0;
        border-radius: 8px;
        position: relative;
        left: -10px;
    }

    header{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 60px;
        align-items: center;
    }
    h1{
        align-items: center;
        padding-top: 5px;
        font-size: 20px;
    }
    
    #filters{
        width:380px;
        flex-wrap: wrap;
    }

    p#info{
        padding-top: 70px;
    }

    #filter-title{
        display: none;
    }

    #mobile-filters{
        display: inline;
        position: relative;
        left: -140px;
    }

    #most-popular{
        border-radius: unset;
        height: 570px;
    }

    .frist-showcase{
        width: 300px;
        height: 2000px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-left: 0;
    }

    #accommodations{
        margin-top: unset;
        width: 300px;
        height: 1200px;
        background-color: transparent;
    }

    #grid-container{
        width: 400px;
        height: 1300px;
        display: flex;
        flex-direction: column;
        margin-left: 35px;
    }

    .picture-frame{
        width: 300px;
        height: 190px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    }

    .picture-frame div{
        width: 290px;
        height: 110px;
    }

    #activities{
        width: 300px;
        height: 1200px;
        margin-top: 20px;
        margin-left: 35px;
    }

    #activities_grid_container{
        width: 400px;
        height: 1150px;
        display: flex;
        flex-direction: column;  
        justify-content: space-evenly;  
    }


    #activity_frame_1 , #activity_frame_2 , #activity_frame_3 , 
    #activity_frame_4 , #activity_frame_5 , #activity_frame_6
    {
        width: 300px;
        height: 164px;
        position: unset;
        background-color: white;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 15px;
    }

    /* inserting images  */
    #activity_frame_1 div{
        width: 300px;
        height: 110px;
        border-radius: 15px 15px 0 0;
        background: url(./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat center center / cover;
    }
    
    #activity_frame_2 div{
        width: 300px;
        height: 110px;
        border-radius: 15px 15px 0 0;
        background: url(./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat center center / cover;
    }

    #activity_frame_3 div{
        width: 300px;
        height: 110px;
        border-radius: 15px 15px 0 0;
        background: url(./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat center center / cover;
    }

    #activity_frame_4 div{
        width: 300px;
        height: 110px;
        border-radius: 15px 15px 0 0;
        background: url(./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat center center / cover;
    }

    #activity_frame_5 div{
        width: 300px;
        height: 110px;
        border-radius: 15px 15px 0 0;
        background: url(./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) no-repeat center center / cover;
    }

    #activity_frame_6 div{
        width: 300px;
        height: 110px;
        border-radius: 15px 15px 0 0;
        background: url(./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat center center / cover;
    } 
    
    footer{
        height: 400px;
    }
    #footer_flex_container{
        flex-direction: column;
        margin-left:25px;
    }

    #footer_flex_container div{
        padding-bottom: 20px;
    }

    #footer_flex_container div h3{ 
        padding-bottom: 15px;
    }
    
    
    
}