/* variables for the color pallet */
:root{
    --primary-blue:#0065FC;
    --secondary-blue:#DEEBFF;
    --primary-background:#F2F2F2;
    --card-background-color:#ffffff;   
    }
    
    /* General sizing properties */
    *{
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
        margin: 0;
    }
    
    h2, p, ul {
        margin: 0;
    }
    
    header , section{
        margin-left: 100px;
    }

    header{

    }

    #logo{
        width: 94px;
        height: 44px;
        background: url("images/logo/Booki.png")no-repeat center center/cover;
    }
