
/* variables for the color pallet */
:root{
--primary-blue:#0065FC;
--secondary-blue:#DEEBFF;
--primary-background:#F2F2F2;
--card-background-color:#ffffff;   
}
/* General sizing properties */

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}


body{
    margin: auto;
    min-width: max-content;
    
}

header , section{
    width: 95%;
    margin-left: 7%;
}

/* Header */
header{
    width: 85%;
}

/* NAV */

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 94px;
    height: 44px;
}

.menu ul{
    display: flex;
    width: 22.2%;
}

/* Makes the second list item take the remaining space */
.menu ul :nth-child(2){
   flex-grow: 1;
   text-indent: 50px;
}
/* hides the border for nav menu when not active */
.blue-border{
     border-top:  3px solid transparent;
}

.blue-border:hover{
    border-top:  3px solid var(--primary-blue);
}
/* changes the color of the nav menus font when in a hover state */
.menu li a:hover{
    color: var(--primary-blue);
}

.title{
    margin-top: 25px;
    margin-bottom: 20px;
}

h1{
    font-size: 24px;
    padding-bottom: 7px;
}

/* Search bar */

form{
    height: 30px;
    display: flex;
    margin-bottom: 20px;
 }

 /* make the placeholder text bolder */
::-webkit-input-placeholder {
    font-weight: bolder;
    color: black;
 }

 
button{
    background-color: var(--card-background-color);
 }

.map-marker{
    width: 3%;
    padding-top:5px;
    text-align: center;
    background-color: var(--primary-background);
    border-radius: 8px 0 0 8px ;
}
/* The text indent on this elemnt makes the users cursor begin at the placeholder */
.search-bar{
    border: 3px solid var(--primary-background);
    text-indent:25px;
}

 .search-btn{
    color:white;
    background-color: var(--primary-blue);
    border-style: none;
    border-radius: 0 8px 8px 0;
 }

 /* Hides the moblie search button elements */
 .magnifying-glass{
     display: none;
 }

 .search-btn:hover{
    cursor: pointer;
 }



/* End of Search  */
/* Filters */

.filters{
    display: flex;
    flex-direction: row;
}

.filter-title{
    font-weight: bolder;
    padding-top: 10px;
}

.filter-buttons{
    width: 625px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 15px;
}

.filter-btn{
    height: 35px;
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 19px;
}

.filter-buttons p{
    border: 5px solid transparent;
    font-size: 15px;
    font-weight: bolder;
}

.circle{
    position: relative;
    height: 33.5px;
    width: 35px;
    left:  -9px;
    top: -3px;
    padding-top: 2%;
    border-radius: 50%;
    background-color: var(--secondary-blue);
}

.circle i {
    position: relative;
    top: 5.5px;
    color: var(--primary-blue);
}

/* END OF FILTERS */
/* INFO */
.info-wrapper{
    display: flex;
}

.info-circle{
    width:  13px;
    height:  10px;
    background-color: var(--primary-blue);
    border-radius: 40px;
    position: relative;
    top: 2px;
    left: 2px;
}

.info-wrapper :nth-child(1){
  position: relative;
  top: 18px;
  left: -1px;
}
/* places info icon in front of a blue background so the transparent I shows  */
.fa-info-circle{
    color: white;
    border-radius: 40px;
    border: 1.5px solid var(--primary-background);
    z-index: 1;
}

.info-wrapper span{
    display: inline-block;
    width: 425px;
    height: 80px;
    padding-left: 10px;
    padding-top: 17px;
}


.info i{
    color: white;
    background-color: var(--primary-blue) ;
}
/* END OF INFO */


/* First Showcase CSS */
/* Accommodations */
.frist-showcase{
    margin-top: 15px;
    height: 550px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.accommodations{
    width: 850px;
    height: 550px;
    border-radius: 15px;
    padding-top: 35px;
    background-color:var(--primary-background);
}

.accommodations h2{
    text-indent: 30px;
    font-size: 20px;
}

.flex-grid{
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.col{
    width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.col .img-card{
    width: 241px;
    height: 190px;
    border-radius: 15px;
    background-color: var(--card-background-color);
}
/* the margin left is use to center the image giving it a white outlinne form the color of */
.accommodations .col .pic{
   width: 230px;
   height: 105px;
   border-radius: 15px 15px 0 0;
   object-fit: cover;
   margin-left: 6px;
   margin-top: 5px;
}

.col .img-card p{
    text-indent: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.col .img-card p:nth-of-type(2){
    padding-top: 5px;
    font-weight:normal ;
    font-size: 12px;
}
/* makes the EURO amount bold  */
.col .img-card p:nth-of-type(2) i{
    font-weight: bold;
}
/* aligns the stars lol */
.col .img-card ul{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 20px;
}

.col .img-card ul li{
    font-size: 12px;
    color: var(--primary-blue);
}

.show-more{
    margin-top: 30px;
    text-indent: 50px;
    font-weight: bold;
}

/*Most Popular */
.most-pop{
  width: 400px;
  height:550px;
  background-color: var(--primary-background);
  border-radius: 15px;
}

.most-pop-title-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 20px;
}

.most-pop-title-container :nth-child(1){
    height: 50px;
    text-indent: 30px;
    font-size: 20px;
}

.most-pop-title-container :nth-child(2){
    padding-right: 35px;
    font-size: 25px;
}

.most-pop-grid-container{
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.most-pop-grid-container .img-card{
    width: 310px;
    height:125px;
    border-radius: 15px;
    background-color: var(--card-background-color);
    display: flex;
}

.most-pop-grid-container .img-card img{
    height: 120px;
    padding-top: 5px;
    padding-left: 5px;
    object-fit: cover;
}

.most-pop-grid-container .img-card ul{
    height: 30px;
    display: flex;
    font-size: 12px;
    color: var(--primary-blue);
}

.grey-star{
    color: #d9d9d9;
}

.card-text{
    padding-left: 20px;
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* makes the frist line of text for the img card bold */
.card-text :first-child{
    font-weight: bolder;
}
/* adds space for the second line of the img card and space between stars inline with the mock-up */
.card-text :nth-child(2){
    font-size: 12px;
    padding-bottom: 30px;
}
/* makes the Euro amount bold */
.card-text :nth-child(2) i{
    font-weight: bolder;
}

.most-pop .img-card .img{
    width:120px;
    height:112px;
    border-radius: 15px 0 0 15px;
}

/* Activities in Marseille */
.activities{
    width: 1350px;
    height:450px;
    margin-top:60px;
}

.activities-flex-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.activities .col{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-flex-container .img-card{
    width: 85%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    border-radius: 15px;
    background-color: var(--card-background-color);
}

.activities-flex-container .img-card p{
    position: relative;
    top: 2px;
    font-weight: bolder;
}
/* Activities picture height before text */
.activities-flex-container .pic{
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#col-2 div:nth-of-type(1) .pic , #col-2 div:nth-of-type(2) .pic,
#col-4 div:nth-of-type(1) .pic , #col-4 div:nth-of-type(2) .pic{
    height: 70%;
}

#col-1 .img-card , #col-3 .img-card {
    height: 100%;
  
}

#col-2 div:nth-of-type(1) , #col-4 div:nth-of-type(2){
    height: 50%;
  
}

#col-2 div:nth-of-type(2) , #col-4 div:nth-of-type(1){
    height: 40%;
}

/* Footer  */
footer{
    width: 100%;
    margin-left: 50px;
    height: 200px;
    margin: 0;
    background-color: #F2F2F2;
}

.footer-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 950px;
    padding-top: 20px;
    padding-left: 7%;
}

.footer-flex-container ul{
    line-height: 30px;
    padding-left: 0px;
}