
/* variables for the color pallet */
:root{
--primary-blue:#0065FC;
--secondary-blue:#DEEBFF;
--primary-background:#F2F2F2;
--card-background-color:#ffffff;   
}
/* General sizing properties */

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body{
    margin: 0 auto;
    max-width: 1519px;
}

header , main , .activities{
    padding-left: 7%;
}

/* Header */
header{
    width: 1500px;
}

/* NAV */

.header-nav{
    width: 1300px;
    display: flex;
    justify-content: space-between;
}


.logo img {
    width: 94px;
    height: 44px;
}

.header-nav__options{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav a:hover{
    border-top:  3px solid var(--primary-blue);
}

.header-nav a:hover{
    color: var(--primary-blue);
}

.title{
    margin-top: 25px;
    margin-bottom: 20px;
}

h1{
    font-size: 24px;
    padding-bottom: 7px;
}

/* Search bar */

.search-bar{
    height: 30px;
    display: flex;
    margin: 20px 0 20px 0;
 }

 /* make the placeholder text bolder */
::-webkit-input-placeholder {
    font-weight: bolder;
    color: black;
 }

 
button{
    background-color: var(--card-background-color);
 }

.search-bar__map-marker{
    width: 3%;
    padding-top:5px;
    text-align: center;
    background-color: var(--primary-background);
    border-radius: 8px 0 0 8px ;
}
/* The text indent on this elemnt makes the users cursor begin at the placeholder */
.search-bar__text-feild{
    border: 3px solid var(--primary-background);
    text-indent:25px;
}

 .search-bar__search-btn{
    color:white;
    background-color: var(--primary-blue);
    border-style: none;
    border-radius: 0 8px 8px 0;
 }

 /* Hides the moblie search button elements */
 .search-bar__mobile-icon{
     display: none;
 }

 .search-bar__search-btn:hover{
    cursor: pointer;
 }



/* End of Search  */
/* Filters */

.filters{
    display: flex;
    flex-direction: row;
}

.filter-title{
    font-weight: bolder;
    font-size: 16px;
    padding-top: 5px;
}

.filter-buttons{
    width: 625px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 15px;
}

.filter-btn{
    height: 35px;
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 19px;
}

.filter-buttons a{
    border: 5px solid transparent;
    font-size: 15px;
    font-weight: bolder;
}

.circle{
    position: relative;
    height: 33.5px;
    width: 35px;
    left:  -9px;
    top: -3px;
    padding-top: 2%;
    border-radius: 50%;
    background-color: var(--secondary-blue);
}

.circle i {
    position: relative;
    top: 5.5px;
    color: var(--primary-blue);
}

/* END OF FILTERS */
/* INFO */

.informative-wrapper{
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.informative__info-circle{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1.5px solid var(--primary-background);
    background-color:white ;
}

.informative__text{
    width: 418px;
}

.fa-info{
    position: relative;
    top: 6px;
    left: -15px;
    font-size: 12px;
    color: var(--primary-blue);
}

/* END OF INFO */


main{
    width: 1518px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

/* First Showcase CSS */

/* AccomadATIONS */
.accom{
    width: 850px;
    height: 560px;
    border-radius: 15px;
    padding-top: 20px;
    background-color:var(--primary-background);
}

.accom-title{
    text-indent: 30px;
    font-size: 22px;
    padding-bottom: 20px;
}

.accom-wrapper{
    margin: 0;
    width: 850px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.accom-card{
    display: block;
    width: 241px;
    height: 190px;
    border-radius: 15px;
    background-color: var(--card-background-color);
}

.accom-card__img{
    width: 230px;
    height: 105px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    margin-left: 6px;
    margin-top: 5px;
}

.accom-card__title{
    font-size: 16px;
}

.accom-card__text-content{
    padding-left: 10px;
}

.accom-card__star-rating{
    padding-top: 5px;
}

.accom-card__text-content i{
    font-weight: bolder;
}

.fa-star{
    color: var(--primary-blue)
}

.fa-star.gray-star{
    color: #d9d9d9;
}

.accom-card__price{
    font-size: 14px;
}

.accom-showmore-btn{
    border: none;
    background-color: unset;
    font-weight: bolder;
    font-size: 15px;
    text-indent: 25px;
    margin-top: 25px
}


/*Most Popular */

.most-pop{
    width: 400px;
    height: 560px;
    margin-right: 100px;
    border-radius: 15px;
    background-color: var(--primary-background);
}

.most-pop__title{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top:25px;
    font-size: 18px;
}

.most-pop__wrapper{
    width: 400px;
    height: 470px;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.most-pop-card{
    width: 310px;
    height:125px;
    border-radius: 15px;
    background-color:var(--card-background-color);
    display: flex;
}

.most-pop-card__img{
    width:120px;
    height:120px;
    border-radius: 15px 0 0 15px;
    padding-top: 5px;
    padding-left: 5px;
    object-fit: cover;
}

.most-pop-card__text-content{
    padding-left: 10px;
    padding-top: 10px;
    
}

.most-pop-card__title{
    height: 48px;
    font-size: 16px;
    padding-bottom: 10px;
}

.most-pop-card__price i{
    font-weight: bolder;
}

.most-pop-card__star-rating{
    margin-top: 20px;
}

/* Activities */

.activities{
    width: 1428px;
    height: 500px;
    margin-top: 20px;
}

.activities__img{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 50%;
}

.activities-wrapper{
    margin-top: 20px;
    height: 400px;
    display: flex;
}

.activities__col{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites-card{
    border-radius: 17px;
    background-color: var(--card-background-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}

/* activity card heights and widths */

.col-1 .activites-card , .col-3 a.activites-card {
    height: 100%;
    width: 90%;
}

.col-2 a:nth-of-type(1){
    width: 90%;
    height: 50%;
}

.col-2 a:nth-of-type(2){
    width: 90%;
    height: 40%;
}

.col-4 a:nth-of-type(1){
    width: 90%;
    height: 40%;
}

.col-4 a:nth-of-type(2){
    width: 90%;
    height: 50%;
}



.activities__img.img-2 , .activities__img.img-3 , .activities__img.img-5 , .activities__img.img-6{
    width: 100%;
    height: 72%;
}

.activities__img.img-1 , .activities__img.img-4{
    width: 100%;
    height: 87%;
    
}

.activites-card__title{
    width: 100%;
    font-weight: bolder;
    padding-top: 10px;
    text-indent: 20px;
}



/* Footer  */
.booki-footer{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
  
}

.booki-footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1085px;
    padding-top: 20px;
    padding-left: 7%;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__label{
    text-indent: 5px;
}

.footer__link{
    padding: 5px;
}


